body {
  margin: 0;
  padding: 0;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* background-color: #313030; */
  overflow-x: hidden;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #313030;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.App {
  /* width: 1450px; */
  /* margin: auto; */
  /* height: 100vh; */
  /* overflow-x: hidden; */
  /* margin: 0; */
  /* padding: 0; */
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(44, 44, 44);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b6b6b6;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}

.LinkStyles {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

/* .MyPhoto {
  filter: grayscale(100%);
  position: absolute;
  width: 33%;
  height: auto;
  max-height: 700px;
  max-width: 100%;
  bottom: 0%;
  left: 0%;
  transform: translate(-17%, 0%);
} */
/* .MyPhoto {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 35%;
  height: auto;
  max-width: 35%;
  max-height: 700px;
} */

.ContentBox {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
}

.MyPhoto {
  filter: grayscale(100%);
  /* grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2; */
  position: fixed;
  bottom: 0;
  left: 150px;
  width: 35%;
  background-color: #313030;
}

.TextBoxAbout {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
  text-align: left;
  max-width: 700px;
  z-index: 20;
  background-color: #313030;
  padding: 10px 0;
}

.Fixed {
  position: fixed;
  top: calc(50% - 236px);
  left: 50%;
  text-align: left;
  width: 700px;
  height: 700px;
  z-index: 10;
  background-color: #313030;
}

/* LIST */
.list-ic li {
  position: relative;
}
.list-ic li span {
  display: inline-block;
  font-weight: 800;
  width: fit-content;
  height: 2em;
  text-align: center;
  padding: 5px 8px;
  line-height: 2em;
  border-radius: 1em;
  background: #18bc9c;
  color: white;
  position: relative;
}
.list-ic li::before {
  content: '';
  position: absolute;
  background: #18bc9c;
  z-index: -1;
}
.list-ic.vertical {
  padding: 0;
  margin: 0;
}
.list-ic.vertical li {
  list-style-type: none;
  text-align: left;
}
.list-ic.vertical li span {
  margin: .5em .2em;
}
.list-ic.vertical li::before {
  top: -35px;
  left: 13px;
  width: 0.2em;
  height: 4em;
}
.list-ic li:first-child::before {
  display: none;
}



.TextBoxHome {
  position: fixed;
  width: 40%;
  max-width: 700px;
  top: calc(50% - 129px);
  left: 50%;
  text-align: left;
  /* grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4; */
  padding: 15px;
  border: 1px double white;
}
.boxOuter {
  background-color: #2c2c2c;
  padding: 5px;
  border: 2px solid #00C2FF;
}
.boxOuter:before, .boxOuter:after {
  content: "•";
  position: absolute;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: #00C2FF;
  border: 2px solid #00C2FF;
  line-height: 12px;
  top: 5px;
  text-align: center;
}
.boxOuter:before {
  left: 5px;
}
.boxOuter:after {
  right: 5px;
}
.boxOuter .boxInner {
  position: relative;
  border: 2px solid #00C2FF;
  padding: 40px;
}
.boxInner:before, .boxInner:after {
  content: "•";
	 position: absolute;
	 width: 14px;
	 height: 14px;
	 font-size: 14px;
	 color: #00C2FF;
	 border: 2px solid #00C2FF;
	 line-height: 12px;
	 bottom: -2px;
	 text-align: center;
}
.boxInner:before {
  left: -2px;
}
.boxInner:after {
  right: -2px;
}


.AboutLinks {
  color: #00C2FF;
  text-decoration: 1.5px underline;
}

.AboutLinks:hover,
.AboutLinks:active {
  color: white;
}

.ProjectsPage {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  /* margin: 24px 0; */
  height: 100vh;
}


.Sticky {
  position: sticky;
  top: 0;

}

.BackgroundDiff {
  background-color: #313030;

}

.BackgroundDiff:nth-child(2),
.BackgroundDiff:nth-child(4) {
  background-color: #4B4B4B;
}

.ProjectThumbnailPhoto {
  max-width: 400px;
  margin: .5px;
  filter: grayscale(100%);
  filter: opacity(60%);
}

/* .ProjectThumbnailPhoto:hover,
.ProjectThumbnailPhoto:active {
  filter: grayscale(0%);
  filter: opacity(100%);
} */

.LearnMore {
  text-decoration: none;
}

.LearnMoreBtn {
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-decoration: underline;
  font-size: 18px;
  position: relative;
  top: calc(50% - 12px);
  margin: 0 auto;
  z-index: 100;
  height: 0;
  /* background-color: #ffffff7b;
  border: 1px solid black;
  width: fit-content;
  padding: 3px 7px;
  border-radius: 15px; */
}

.DisplayNone {
  display: none;
}

/* .ProjectThumbnailPhoto {
  border-radius: 25px;
  max-width: 700px;
  max-height: 500px;
} */

/* 
.ProjectThumbnailPhoto {
  max-width: 300px;
}

.ProjectThumb {
  width: fit-content;
  filter: grayscale(0%);
}

.ProjectThumb:hover,
.ProjectThumb:active {
  filter: grayscale(100%);
}

.todo,
.calculator,
.spending,
.stackOver,
.eshop {
  position: absolute;
}

.todo {
  top: 220px;
  left: 100px;
}

.calculator {
  top: 220px;
  left: 500px;
}


.eshop {
  top: 220px;
  right: 100px;
}

.spending {
  top: 400px;
  left: 100px;
}

.stackOver {
  top: 400px;
  right: 100px;
} */

.footerSocMedia {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footerSocMedia li {
  margin: 0 5px;
}

.footerSocMedia li a {
  color: white;
}

.learnMoreHover {
  background-color: red;
}


.BtnTo650px {
  display: none;
}

.ProjectPhotosBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.LinkNextPreviousProject {
  color: white;
  text-decoration: none;
}

.LinkNextPreviousProject:hover,
.LinkNextPreviousProject:active {
  text-decoration: underline;
}

@media (max-width: 650px) {
  .ProjectPhotosBox {
    flex-direction: column;
  }
  
  .BtnFrom650px {
    display: none;
  }
  
  .BtnTo650px {
    display: block;
  }
  
  .ProjectImg {
    max-width: 96%;
  }
  
  .ProjectImg img {
    width: 300px;
  }
}

@media (max-width: 1200px) {
  body {
    max-width: 96%;
    padding: 0 2%
  }

  .MyPhoto {
    display: block;
    position: inherit;
    margin: 0 auto;
    max-width: 80%;
    width: fit-content;
    min-width: 60%;
  }

  .MyPhotoAbout {
    display: none;
  }

  .ContentBox {
    display: block;
    width: 96%;
    margin: 0 2%;
  }

  .TextBoxHome,
  .TextBoxAbout,
  .Fixed {
    width: 90%;
    position: unset;
    margin: auto;
    padding: 15px;
    margin-top: 20px;
  }
  .Fixed {
    margin-top: 0;
    padding-top: 0;
  }

  .ProjectThumbnailPhoto {
    max-width: 350px;
  }

  .ProjectThumb {
    width: fit-content;
    filter: grayscale(0%);
    margin: 0 auto;
  }

  .ProjectThumb:hover,
  .ProjectThumb:active {
    filter: grayscale(100%);
  }

  .todo,
  .calculator,
  .spending,
  .stackOver,
  .eshop {
    position: inherit;
  }
}

@media (min-width: 650px) and (max-width: 1200px) {
 
  .ProjectImg {
    max-width: 96%;
  }
  
  .ProjectImg img {
    width: 600px;
  }

}
